<div class="container-fluid header-container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
    <a
      href="/"
      class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none fw-bold fs-3">
      Concert Diary
    </a>
    <ul class="nav">
      <li class="nav-item fw-bold">
        <a class="nav-link text-dark" href="/about">About</a>
      </li>
    </ul>
    <div class="col-md-3 text-end">
      <a class="btn btn-outline-dark btn-md" href="/sign-up">Sign Up</a>
      <a class="btn btn-dark btn-md" href="/logon">Login</a>
    </div>
  </header>
</div>
