<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid d-flex justify-content-between">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-light" href="/concerts">Concerts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/concerts/add">Add a Concert+</a>
        </li>
      </ul>

      <form role="search" method="GET" action="/concerts" class="ms-auto">
        <div class="input-group">
          <input
            type="search"
            name="search"
            class="form-control border-dark"
            style="width: 250px;"
            placeholder="Search..."
            aria-label="Search"
          />
          <select name="searchBy" style="width: 110px;" class="form-select border-dark">
            <option value="artist">By Artist</option>
            <option value="rate">By Rate</option>
          </select>
          <button type="submit" class="btn btn-dark border-light">Search</button>
        </div>
      </form>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item text-light mt-1 me-1">
          Welcome, <%= currentUser.name %>!
        </li>
        <li class="nav-item">
          <a href="/logout" type="button" class="btn btn-light">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
