:root {
  --background-color: rgba(112, 134, 214, 0.532);
  --bs-primary-rgb: #12296c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Popping', sans-serif;
  background-color: var(--background-color);
  color: var(--bs-primary-rgb);
  font-weight: 300;
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: 'Unbounded' cursive;
  font-weight: 600;
}

.btn {
  border-radius: 2rem;
  cursor: pointer;
}

.pagination {
  --bs-pagination-color: var(--bs-primary-rgb);
  --bs-pagination-active-bg: var(--bs-primary-rgb);
  --bs-pagination-active-border-color: var(--bs-primary-rgb);
}

/* ABOUT */
.about {
  padding: 5rem 0;
  margin: 40px;
}

.about::first-letter {
  font-size: 5rem;
  color: #f4f2e2;
}
.main-photo-container {
  position: absolute;
  width: 100%;
  left: 0;
  top: 20%;
}

.main-photo {
  max-width: 100%;
  max-height: 100%;
}
