:root {
  --background-color: rgba(112, 134, 214, 0.532);
  --bs-primary-rgb: #12296c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--bs-primary-rgb);
  font-weight: 300;
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Unbounded', cursive;
  font-weight: 700;
}

h5 {
  font-weight: 300;
}
.btn {
  border-radius: 2rem;
  cursor: pointer;
}

.pagination {
  --bs-pagination-color: black;
  --bs-pagination-active-bg: black;
  --bs-pagination-active-border-color: black;
}

/* ABOUT */
.about {
  padding: 5rem;
  margin: 1.5rem;
}

.about::first-letter,
.about h4::first-letter {
  font-size: 5rem;
  color: #f4f2e2;
}

.main-photo-container {
  position: absolute;
  width: 100%;
  left: 0;
  top: 20%;
}

.main-photo {
  max-width: 100%;
  max-height: 100%;
}

.header::first-letter {
  font-size: 6rem;
  color: white;
}

@media only screen and (max-width: 600px) {
  .header-container > header,
  .food-container > footer {
    display: flex;
    flex-direction: column;
  }

  .header-container > header {
    margin-top: 1em;
    font-size: 1.5rem;
  }

  .index-hide-btn {
    margin-top: 1rem;
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .header-container > header,
  .food-container > footer {
    display: flex;
    flex-direction: column;
  }

  .index-container {
    position: absolute;
    top: 15%;
  }

  .index-hide-btn {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header-container > header,
  .food-container > footer {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
  }

  .food-container {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 980px) {
  .header-container > header,
  .food-container > footer {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .food-container {
    margin-top: 0;
  }
  .index-hide-btn {
    display: block;
    width: 30%;
    margin: 5px auto;
  }
}
