<div class="container-fluid container-fluid-custom">
  <div class="about">
    <h1><em>Concert Diary</em></h1>
    <p>
      is a user-friendly application designed to be the ultimate companion for
      concert enthusiasts who want to preserve and relive their concert
      memories. It provides a dedicated space for users to document and cherish
      their concert experiences, creating a personalized collection of
      unforgettable moments.
    </p>
  </div>
</div>
