<%- include("../partials/head", {errors, info}) %>

<div
  class="container-fluid mt-5 justify-content-center align-items-center mb-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <div class="mb-3">
            <form class="px-4 py-3" action="/logon" method="POST">
              <div class="mb-3">
                <label for="username" class="form-label">Email</label>
                <input
                  name="username"
                  id="username"
                  type="text"
                  autofocus
                  required
                  class="form-control" />

                <label for="password" class="form-label">Password</label>
                <input
                  name="password"
                  id="password"
                  type="password"
                  required
                  class="form-control" />
              </div>

              <div class="d-flex justify-content-between">
                <div>
                  <a href="/" class="btn btn-outline-dark">Back</a>
                  <button type="submit" class="btn btn-dark">Logon</button>
                </div>
                <div class="mt-2 text-center">
                  Don't have an account?
                  <a href="/sign-up">Register</a>
                </div>
                <input type="hidden" name="_csrf" value="<%= _csrf %>" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
