<%- include("../partials/head", {errors, info}) %>

<div class="text-center">
  <p class="display-6 fw-bold mb-4">
    Page <strong><%= url %></strong> not found.
  </p>
  <a href="/" class="btn btn-dark btn-md">Explore Concerts.</a>
</div>
